<nav class="navbar bg-dark text-white justify-content-center">
    <p>&copyPedro Rodrigues - <span id="year"></span></p>
</nav>
<script type="text/javascript">
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>